<div class="page-header">
  <h1>Editing Person</h1>
</div>

<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
  <%= render 'form' %>

  <%= link_to 'Show', @person %> |
  <%= link_to 'Back', people_path %>
  </div>
</div>
